@import "mixins";
@import "colors";

* {
  font-family: 'Tajawal', sans-serif;
}

h1 {
  font-size: 8rem;
  font-family: 'Lilita One', cursive;
  color: $starbucksGreen;
  text-shadow: 2px 2px white;
  border-bottom: 5px dotted white;
}

h2,
input[type="submit"] {
  font-size: 4.5rem;
  font-weight: 900;
}

h3 {
  font-size: 4rem;
  line-height: 58px;
  letter-spacing: 1.3px;
  font-weight: 700;
}

h4 {
  font-size: 3.5rem;
  line-height: 58px;
  letter-spacing: 0.8px;
}

button {
  font-size: 2.24rem;
  text-align: center;
  line-height: 41.6px;
  padding-top: 10px;
  width: 50%;
  margin: 0 auto;
  background-color: $starbucksGreen;
  color: $white;
  border: 5px solid $white;
  &:hover {
    transition: 0.5s;
    background-color: $lightCoffee;
    box-shadow: 5px 5px 5px black;
  }
  @include mqBigPhone {
    font-size: 1.9rem;
  }
}

textarea,
a,
li,
span,
input, label, p {
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

.headerContent {
  .typedStrings {
    span {
      font-size: 3rem;
    }
    p {
      font-size: 4rem;
      font-weight: 700;
    }
    @include mqBigPhone {
      p {
        font-size: 2.5rem;
      }
      span {
        font-size: 2rem;
      }
    }
  }
}

