@import "mixins";
@import "colors";

* {
  font-family: 'Tajawal', sans-serif;
}

h1 {
  font-size: 6.9rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0;
}

h2,
input[type="submit"] {
  font-size: 4.5rem;
  font-weight: 900;
}

h3 {
  font-size: 4rem;
  line-height: 58px;
  letter-spacing: 1.3px;
  font-weight: 700;
}

h4 {
  font-size: 3.5rem;
  line-height: 58px;
  letter-spacing: 0.8px;
}

button {
  font-size: 2.24rem;
  text-align: center;
  line-height: 41.6px;
  padding-top: 10px;
}

label,
em,
button {
  font-family: 'Tajawal', sans-serif;
}

textarea,
a,
li,
span,
input, label, p {
  font-family: 'Tajawal', sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

.headerContent {
  .typedStrings {
    span {
      font-size: 3rem;
    }
    p {
      font-size: 4rem;
      font-weight: 700;
    }
    @include mqBigPhone {
      p {
        font-size: 2.5rem;
      }
      span {
        font-size: 2rem;
      }
    }
  }
}

