article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

nav {
  background: crimson;
}

nav ul {
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  font-size: 60px;
}

nav ul li a:hover {
  color: cyan;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 6.9rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0;
}

h2, input[type=submit] {
  font-size: 4.5rem;
  font-weight: 900;
}

h3 {
  font-size: 4rem;
  line-height: 58px;
  letter-spacing: 1.3px;
  font-weight: 700;
}

h4 {
  font-size: 2.5rem;
  line-height: 58px;
  letter-spacing: 0.8px;
}

button {
  font-size: 2.24rem;
  text-align: center;
  line-height: 41.6px;
  padding-top: 10px;
}

p,
label,
textarea,
a,
li, span {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

label, em {
  font-weight: 200;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}

.landing {
  background-image: url(../images/exterior6.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .landing-content {
  text-align: center;
}

header {
  background-image: url(../images/interior.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  text-align: center;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-content {
  background-color: rgba(243, 244, 242, 0.7);
  border-radius: 5px;
  width: 80%;
  padding: 30px;
}

header .header-content h1 {
  color: #006241;
}

header .header-content p {
  color: #8f4426;
}

header .header-content span {
  color: #8f4426;
}

.questions {
  background-color: #362415;
  text-align: center;
  color: #ffff;
  background-image: url(../images/coffee-bg2.jpg);
  background-size: cover;
  background-position: center;
  height: 1000px;
}

.questions .drinkQuestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 800px;
}

.questions form {
  border-radius: 5px;
}

.questions form .userQuestions {
  padding: 40px;
}

.questions form .userQuestions h3 {
  line-height: 0;
  padding-bottom: 20px;
  color: #eac784;
  text-shadow: 4px 4px #362415;
}

form fieldset {
  margin: 0 auto;
  border-radius: 20px;
  border-style: none;
  background-color: #006241;
  width: 80%;
}

form fieldset .userQuestions h3 {
  width: 100%;
}

form fieldset .userQuestions .userChoices {
  width: 100%;
}

input[type="radio"] {
  visibility: hidden;
}

label {
  border: 1px solid #ffff;
  padding: 10px;
  border-radius: 5px;
}

input[type="radio"]:checked + label {
  background-color: #362415;
  color: #ffff;
  border-color: #362415;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.userResult {
  text-align: center;
}

input[type="submit"] {
  padding: 30px;
  background-color: rgba(204, 199, 192, 0.9);
  border-style: none;
  color: #006241;
  text-shadow: 4px 4px #eac784;
  -webkit-box-shadow: 5px 5px 0px 0px #006241;
          box-shadow: 5px 5px 0px 0px #006241;
}

input[type="submit"]:hover {
  color: #362415;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-color: #8f4426;
  text-shadow: 4px 4px #eac784;
}
/*# sourceMappingURL=styles.css.map */