@import "partials/setup";
@import "partials/nav";
@import "partials/mixins";
@import "partials/fonts";
@import "partials/colors";
// @import "partials/button";

ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
    padding: 0;
    margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

// Wrapper styling
.wrapper {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
  @include mqTablet {
    .wrapper {
      width: 100%;
    }
  }
}

.swal2-popup {
  h2{
    font-size: 2.5rem !important;
  }
  button {
    font-size: 2rem !important;
    padding: 0 !important;
  }
  .swal2-icon {
    visibility: hidden;
  }
}

// Landing page styling
.landing {
  background-image: url(../images/header.png);
  background-size: contain;
  
  background-position: center center fixed;
  min-height: 100vh;
  text-align: center;
  .landingContent{
  padding-top: 15%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
    h2{
      position: absolute;
      left: 0;
      right: 0;
      
    }
  }
  .landingButton {
    margin: 0 auto;
    animation-duration: 0.5s;
    width: 50%;
  button {
    border-color: $coffee;
    width: 100%;
    font-size: 2.8rem;
    padding-top: 15px;
  }}
  @include mqBigPhone {
    background-image: url(../images/exterior-small.jpg);
    background-position: center center;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    .landing{
      .landingContent{
        justify-content: space-between;
        height: 80vh;
        h1{
          font-size: 5rem;
          align-self: center;
        }
      }
      .landingButton{
        width: 50%;
        button{
          font-size: 2.2rem;
        }
      }
    }
  }

}

// Landing page media queries
@include mqTablet {
  .landing {
    display: flex;
    justify-content: center;
    align-items: center;
    .landingButton {
      position: static;
      width: 70%;
      transform: none;
      margin: 0 auto;
      border-color: $white;
    }
  }
}

// Barista Bar styling
.baristaStation {
  background-image: url(../images/barista.jpg);
  background-size: cover;
  background-position: center;
height: 100vh;
  text-align: center;
  padding-top: 40px;
  @include mqSmallPhone {
    background-position: 40% center;
  }
  .baristaBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    .headerContent {
      height: 80vh;
      @include mqTablet {
        width: 65%;
        justify-content: space-between;
        background-position: bottom;
        flex-direction: column;
        padding-bottom: 60px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
      @include mqBigPhone {
        width: 70%;
      }
      @include mqMediumPhone {
        width: 85%;

        .start {
          width: auto;
        }
      }
      @include mqSmallPhone {
        width: 100%;
        padding-bottom: 0;
        .start {
          margin-top: 150px;
        }
      }
    }
  }

  .headerContent {
    .bubble {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      .typedStrings {
        background-image: url(../images/bubble3.png);
        background-size: contain;
        background-repeat: no-repeat;
        padding: 60px;
        background-position: center center;
        p {
          color: $black;
          margin: 10px 0;
          font-size: 3rem;
        }
        span {
          color: $coffee;
          line-height: normal;
          font-size: 2rem;
        }
        @include mqBigTablet {
          p {
            font-size: 3rem;
          }
          span {
            font-size: 2rem;
          }
        }
        @include mqSmallPhone {
          p {
            font-size: 2rem;
          }
          span {
            font-size: 1.8rem;
          }
        }
      }
      .start {
        width: 50%;
        margin: 0 auto;
        margin-top: 30px;
      }
    }
  }
}

.questions {
  background-color: $coffee;
  text-align: center;
  color: $white;
  background-image: url(../images/coffee-bg3);
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  .drinkQuestions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

form {
  border-radius: 5px;
  fieldset {
    margin: 20px auto;
    border-radius: 20px;
    border-style: none;
    background-color: $starbucksGreen;
    width: 80%;
    padding: 20px;
    @include mqMediumPhone {
      width: 80%;
      padding: 5px;
    }
    .userQuestions {
      @include mqMediumPhone {
        padding-bottom: 25px;
      }
      h3 {
        color: $caramel;
        text-shadow: 2px 2px $coffee;
        width: 100%;
        line-height: 1.2;
        @include mqMediumPhone {
          font-size: 3rem;
          padding-bottom: 0;
          line-height: 1.2;
        }
      }

      .userChoices {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        label {
          margin: 10px;
          @include mqMediumPhone {
          }
        }
        input {
          width: 1px;
          position: absolute;
        }
      }
      .seasonUserChoices {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include mqMediumPhone {
          width: 50%;
          flex-direction: column;
          margin: 0 auto;
        }
        label {
          width: 100%;
          margin: 10px;
          
        }
      }
    }
  }
}

input[type="radio"] {
  visibility: hidden;
}

label {
  border: 1px solid $white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: $coffee;
  color: $white;
  border-color: $coffee;
  transition: 0.3s;
}

.getCoffee {
  margin: 50px 0;
  input[type="submit"] {
    background-color: $white;
    border-style: none;
    color: $starbucksGreen;
    box-shadow: 15px 15px 0px 0px $starbucksGreen;
    padding: 30px;

    &:hover {
      transition: 0.3s;
      color: $lightCoffee;
      border-color: $lightCoffee;
      box-shadow: 15px 15px 0px 0px $lightCoffee;
    }
    @include mqMediumPhone {
      padding: 15px;
      font-size: 2.5rem;
      box-shadow: 10px 10px 0px 0px $starbucksGreen;
    }
  }
}

input[type="text"] {
  width: 50%;
  margin:10px;
  border-radius: 5px;
  text-align: center;
  padding: 8px 0;
  @include mqMediumPhone {
    width: 90%;
  }
}

.userResult {
  background-image: url(../images/result-bg.jpg);
  background-size: cover;
  background-position: center;
  max-height: 95vh;
  padding: 20px 0;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  .resultContent {
    h4 {
      @include mqMediumPhone {
        font-size: 3rem;
        line-height: 1.2;
      }
    }
  }

  .resultImage {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    @include mqMediumPhone {
      height: auto;
      width: auto;
    }
    .drinkImage {
      width: 45%;
      margin: 0 auto;
    }
  }
  .restart {
    @include mqSmallPhone {
      width: 80%;
    }
  }
}

footer {
  margin: 0 auto;
  text-align: center;
  background-color: $starbucksGreen;
  color: $white;
  padding: 10px 0;
  p {
    margin: 0;
    @include mqSmallPhone {
      font-size: 1.7rem;
    }
  }
}
